
criminalmap/criminalmap.xcodeproj/project.xcworkspace/xcuserdata/luizsoares.xcuserdatad/UserInterfaceState.xcuserstate

criminalmap/criminalmap.xcodeproj/xcuserdata/luizsoares.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist

criminalmap/criminalmap.xcodeproj/xcuserdata/luizsoares.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
